<% layout("/layouts/boilerplate")%>

    <body>
        <div class="row mt-2">
            <div class="col-8 offset-2">
                <h3>Edit The Listings</h3>

                <form method="POST" class="needs-validation" novalidate
                    action="/listings/<%=post._id%>/edit?_method=PUT">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title: </label>
                        <input class="form-control" name="listing[title]" value="<%=post.title%>" type="text" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description: </label>
                        <input class="form-control" name="listing[description]" value="<%=post.description%>"
                            type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image">Image: </label>
                        <input class="form-control" value="<%=post.image.url%>" name="listing[image]" type="text" required>
                    </div>
                    <div class="mb-3">
                        <img src="<%=post.image.url%>" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="price">Price: </label>
                        <input class="form-control" value="<%=post.price%>" name="listing[price]" type="number"
                            required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Location: </label>
                        <input class="form-control" value="<%=post.location%>" name="listing[location]" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="country">Country: </label>
                        <input class="form-control" value="<%=post.country%>" name="listing[country]" type="text">
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>