<% layout('layouts/boilerplate') -%>
 
        <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
            <% for (let post of lists) { %>
                <a href="/listings/<%= post._id %>" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img src="<%= post.image.url %>" class="card-img-top" alt="listings">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <%= post.title %><br />
                                    &#8377; <%= post.price.toLocaleString("en-IN") %>/ night
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
        <!-- <ul>
            <% for (let post of lists) { %>
                <p><a href="/listings/<%= post._id %>">
                        <%= post.title %>
                    </a></p>
                <% } %>
        </ul> -->